.btn-success {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
nav {
        background-color: #333;
        padding: 15px;
    }

    /* การใช้ Descendant Selector */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }

/* การใช้ Child Selector */
nav > ul > li {
    margin: 0 10px;
    }

/* การใช้ Class Selector */
.menu-item {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    }

/* การใช้ Pseudo-class */
.menu-item:hover {
    background-color: #555;
    border-radius: 3px;
    }

/* การใช้ ID Selector */
#active {
    background-color: #7300ff;
    border-radius: 3px;
    }